<!DOCTYPE html>
<html>
<head>
  <title>Devmate</title>
  <%= stylesheet_link_tag    "devmate/application", :media => "all" %>
  <%= javascript_include_tag "devmate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
